h1{
	font-size: 100px;
	font-family: monospace;
	text-align: center;
	color: wheat; 
	background-color: hotpink;
}

h1{
	font-size: 100px;
	font-family: monospace;
	text-align: center;
	color: wheat; 
	background-color: hotpink;
}

body{
	background-color: purple;
}

